<div class="menu-wrap">
  <nav class="menu-nav show">
    <div class="logo"><a href="index.html"><img src="../assets/img/logo/logo.png" alt=""></a></div>
    <div class="navbar-wrap main-menu d-none d-lg-flex justify-content-center">
      <ul class="navigation">
        <li class="active menu-item-has-children"><a href="auth/home">Home</a>
        </li>
        <li><a href="auth/nosotros">Nosotros</a></li>
        <li><a href="auth/adopcion">Adopción</a></li>
        <li><a href="auth/contacto">Contacto</a></li>
        <li><a href="auth/post">Mis Post</a></li>
        <li><a href="auth/post-all">Post</a></li>
      </ul>
    </div>
    <div class="header-action d-none d-md-block">
      <ul>
        <li class="header-btn"><a href="auth/login" class="btn">Ingresar <img src="../assets/img/icon/w_pawprint.png" alt=""></a></li>
      </ul>
    </div>
  </nav>
</div>
